.navbar{
    display: flex;
    background-color: rgb(143, 187, 187, 0.3);
    color: blanchedalmond;
    justify-content: space-between;
    align-items: center;
}
.navbar a{
    color: blanchedalmond;
    font-size: 1.5rem;
    margin: 0 20px 0 20px ;
}
h1{
    font-size: 4rem;
    margin-left: 20px;
}
body{
    background-image: url(./assets/DSC_0009-2.png);
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}
.image{
    border: 1px solid white;
    width: 400px;
    height: 600px;
}
/* resize image*/
.image img{
    width: 100%;
    height: auto;
}
p{
    font-size: 1.5rem;
    margin-left: 50px;
}
h2{
    margin-left: 25px;
    font-size: 2rem;
}
.text{
    font-size: 1.5rem;
}